*{
    margin: 0;
    padding: 0;
}

/*----------------------------------- NAV BAR -----------------------------------*/
.navbar{
	z-index: 10;
	display: absolute;
	position: fixed;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
	width: 100%;
}

.navbar-nav{
    margin-left: 18.2%;
    column-gap: 5%;
    position: absolute;
    top: 34.5%;
}

.icono{
    margin-top: 5%;
    margin-bottom: 5%;
}

.pf__portfolio{
    position: sticky;
    margin-left: 7%;
    display: inline;
    top: 4.2%;
    transition: all .15s;
}

.pf__portfolio:hover{
    color: rgb(255, 212, 102);
    margin-left: 10%;
}

.contactme{
    background-color: #0662db;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
	border-right: 10%;
    margin: right 7%;
    position: sticky;
    margin-left: 400%;
    display: inline;
    top: 5%;
    transition: all .5s;
}

.contactme:hover{
    text-decoration: none;
    background-color: #8c00ffa8;
    color: white;
    margin-left: 383%;
}

.contactme:focus{
    text-decoration: none;
    background-color: #8c00ffa8;
    color: white;
    margin-left: 383%;
}

.dropdown-menu{
    margin-left: 360%;
    margin-top: 4%;
    position: absolute;
}
    .dropdown-item{
        color: #fdf0f5;
    }

    .dropdown-item:hover{
        background-color: #0662db;
        color: #fdf0f5
    }
    






.social{
    display: flex;
    margin-left: 31.7%;
    }

    .social a{
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  #b93a99;
        border-radius: 50%;
        margin: 700px 25px 70px;
        color: white;
        text-decoration: none;
        font-size: 40px;
        transition: all .3s;
    }
        
        .social a:hover{
        transform: scale(1.3);
        }
    
    /*---------------------------------- FOOTER -----------------------------------*/
footer{
    background-color: #343a40;
}

.card{
    background-color: #343a40;
    font-style: bold;
    color: rgb(211, 211, 211);
}

.card-body .btn{
    border: 2px solid transparent;
    background-color:#0662db;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 27px;
	font-weight: bold;
    transition: .35s; 
	color: white;
}
.card-body .btn:hover{
	background-color: transparent;
	border: 2px solid #0662db;
	cursor: pointer;
}

.copyright{
    color: #8fa3b0;
    text-align: end;
    margin-right: 0.3%;
}

.links{
    text-align: end;
    margin-right: 0.1%;
}

.links a{
    text-decoration: underline;
    color: #8fa3b0;
    margin: 0px 5px;
}