.fondo__principal{
    width: 100%;

}

.navbar{
	z-index: 10;
	display: flex;
    align-items: center;
    justify-content: space-between;
	position: fixed;
	background-color: black;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
	width: 100%;
}