
*{
    margin: 0;
    padding: 0;
}

/*----------------------------------- NAV BAR -----------------------------------*/
.navbar{
	z-index: 10;
	display: absolute;
	position: fixed;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
	width: 100%;
}

.navbar-nav{
    margin-left: 18.2%;
    column-gap: 5%;
    position: absolute;
    top: 34.5%;
}

.icono{
    margin-top: 5%;
    margin-bottom: 5%;
}

.pf__portfolio{
    position: sticky;
    margin-left: 7%;
    display: inline;
    top: 4.2%;
    transition: all .15s;
}

.pf__portfolio:hover{
    color: rgb(255, 212, 102);
    margin-left: 10%;
}

.contactme{
    background-color: #0662db;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
	border-right: 10%;
    margin: right 7%;
    position: sticky;
    margin-left: 400%;
    display: inline;
    top: 5%;
    transition: all .5s;
}

.contactme:hover{
    text-decoration: none;
    background-color: #8c00ffa8;
    color: white;
    margin-left: 383%;
}

.contactme:focus{
    text-decoration: none;
    background-color: #8c00ffa8;
    color: white;
    margin-left: 383%;
}

.dropdown-menu{
    margin-left: 360%;
    margin-top: 4%;
    position: absolute;
}
    .dropdown-item{
        color: #fdf0f5;
    }

    .dropdown-item:hover{
        background-color: #0662db;
        color: #fdf0f5
    }
/*---------------------------------- ANIMATION ----------------------------------*/
.animation{
    width: 100%;
    height: 60vh;
    color: #fff;
    background: linear-gradient(45deg, rgb(10, 9, 63),rgb(122, 42, 42), rgb(70, 64, 136),rgb(255, 208, 0));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

.font-weight-bold{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p1{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p2{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p3{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p4{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p5{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p6{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p7{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}
.p8{
    font-size: 3rem;
    letter-spacing: 2px;
    border-radius: 25px;
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 3rem;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

/*------------------------ GOALS, PERSONAL ACHIEVEMENTS -------------------------*/
#grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 60px 15px 0px 15px;
}

.parrafo{
    margin-left: 20%;
    margin-top: 2%;
}

    article div h1{
        display:inline;
        margin-top: 20%;
        margin-bottom: 10%
    }

    article div p{
        margin-top: 4%;
        margin-left: 1%;
        margin-right: 10%;
        margin-bottom: 4.5%;
        font-size: 20px;
    }

.arbol{
    margin-top: 6%;
    margin-left: 25%;
    margin-right: 20%;
}

/*---------------------------------- SECTION -----------------------------------*/

section{
    padding-bottom: 2%;
    padding-top: 3.35%;
    background-color: #36031dda;
}

        .title img{
            margin-left: 36.5%;
            position: absolute;
            top: 158%;
        }

        .title h1{
            margin-left: 39%;
            margin-bottom: 3%;
            color: white;
            font-size: 80px;
        }
        
            .you{ 
                color:aquamarine;
                font-style: italic;
            }

    .row{
        margin: 0% 0% 4% 4%;
    }

        .col-4 .list-group-item{
            font-style: oblique;
            font-size: 19px;
            margin-left: 1%;
        }

        .col-8{
            padding-right: 0%;
        }

                .tab-pane{
                    margin-right: 12%;
                    margin-left: 4%;
                    justify-content: left;
                    font-style: oblique;
                    color: #fdf0f5;
                    font-size: 18px;
                }

    .shadow{
        color: #fdf0f5;
        font-style: oblique;
        margin-left: 5%;
        font-size: 20px;
    }

.social{
    display: flex;
    margin-left: 31.7%;
    }

    .social a{
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  #b93a99;
        border-radius: 50%;
        margin: 6px 25px 7px;
        color: white;
        text-decoration: none;
        font-size: 40px;
        transition: all .3s;
    }
    
    .social a:hover{
        transform: scale(1.3);
    }

/*---------------------------------- FOOTER -----------------------------------*/
footer{
    background-color: #343a40;
}

.card{
    background-color: #343a40;
    font-style: bold;
    color: rgb(211, 211, 211);
}

.card-body .btn{
    border: 2px solid transparent;
    background-color:#0662db;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 27px;
	font-weight: bold;
    transition: .35s; 
	color: white;
}
.card-body .btn:hover{
	background-color: transparent;
	border: 2px solid #0662db;
	cursor: pointer;
}

.copyright{
    color: #8fa3b0;
    text-align: end;
    margin-right: 0.3%;
}

.links{
    text-align: end;
    margin-right: 0.1%;
}

.links a{
    text-decoration: underline;
    color: #8fa3b0;
    margin: 0px 5px;
}

/*------------------------------ MEDIA INDEX.HTML ------------------------------*/

@media screen and (max-width:800px){
                            /*-------------------- NAV BAR ---------------------*/
	.navbar{                
		flex-direction: column;
		justify-content: space-evenly;
		font-size: 1px;
        top: 0%;
	}
	.navbar-nav{
		padding-left: 4%;
		padding-bottom: 1%;
		position: absolute;
		top: 90%;
		right: 0%;
		width: 100%;
		height: auto;
		background-color: #2b2b2c;
	}
	.navbar-brand{
		margin-left: 5%;
	}
	.navbar-toggler{
		margin-left: 5%;
		margin-bottom: 2%;
	}
	.nav-link{
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: 1750%;
		text-align: left;
	}
	.nav-link{
		text-align: center;
	}
    .icono{
        width: 40px;
        height: 40px;
    }
	.pf__portfolio{
		margin-top: 0.1%;
	}

                            /*------------------- ANIMATION --------------------*/
    .animation{
        width: 230%;
    } 
    .animation p{
        display: block;
        font-size: 40px;
        margin-right: 1px;
        left: 52.5%;
    }

                            /*--------------- ARTICLE #GRID ------------------*/
    #grid{
        width: 230%;
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 60px 15px 0px 0px;
    }

    .parrafo{
        margin-left: 5%;
        text-align: center;
    }

    .parrafo h1{
        display: inline;
    }

    .parrafo p{
        margin-right: 5%;
        text-align: center;
    }

    .arbol{
        margin-top: 0%;    
        width: 0px;
        height: 0px;
    }

                            /*------------------- SECTION --------------------*/
    section{
        width: 230%;
    }

    .title{
        margin-bottom: 0.5%;
        padding-top: 0%;
        padding-left: 0%;
    }

        .title h1{
            margin-left: 0%;
            font-size: 275%;
            background-color: #343a40;
            padding-left: 3%;
            padding-right: 0%;
            margin-bottom: 0%;
        }

    .col-4{
        margin-bottom: 5%;
    }

        .list-group{
            width: 110%;
            height: auto;
        }

    .col-8 .tab-pane{
        margin-right: 6%;
        text-align: end;
        font-size: 17px;
    }
    
    .social{
        margin-left: 3%;
        margin-bottom: 4%;
    }

                            /*-------------------- FOOTER --------------------*/
	footer{
        width: 230%;
		height: 200px;
		padding-top: 0%;
		padding-bottom: 0%;
		height: 5%;
	}

    .copyright{
        text-align: center;
    }

    .links{
        text-align: center;
    }
}