*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth;
}

/*----------------------------------- NAV BAR -----------------------------------*/
.navbar{
	z-index: 10;
	display: absolute;
	position: fixed;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
	width: 100%;
}

.navbar-nav{
    margin-left: 18.2%;
    column-gap: 5%;
    position: absolute;
    top: 34.5%;
}

.icono{
    margin-top: 5%;
    margin-bottom: 5%;
}

.pf__portfolio{
    position: sticky;
    margin-left: 7%;
    display: inline;
    top: 4.2%;
    transition: all .15s;
}

.pf__portfolio:hover{
    color: rgb(255, 212, 102);
    margin-left: 10%;
}

.contactme{
    background-color: #0662db;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
	border-right: 10%;
    margin: right 7%;
    position: sticky;
    margin-left: 400%;
    display: inline;
    top: 5%;
    transition: all .5s;
}

.contactme:hover{
    text-decoration: none;
    background-color: #8c00ffa8;
    color: white;
    margin-left: 383%;
}

.contactme:focus{
    text-decoration: none;
    background-color: #8c00ffa8;
    color: white;
    margin-left: 383%;
}

.dropdown-menu{
    margin-left: 360%;
    margin-top: 4%;
    position: absolute;
}
    .dropdown-item{
        color: #fdf0f5;
    }

    .dropdown-item:hover{
        background-color: #0662db;
        color: #fdf0f5
    }
    
/*------------------------------------- TITLE ------------------------------------*/
article{
    background: #18212b;
    display: grid;
    place-content: center;
    height: 105vh;
    font-family: 'Secular One', sans-serif;
}

h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.06em;
    margin: 0 0 16px;
}

span{
    color: #fff;
    display: block;
    font-size: 115px;
    line-height: 1.1;
    position: relative;
}

span::before{
    animation-name: var(--animation, a);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 115px;
    position: absolute;
    inset: 0;
    content: var(--content);
    opacity: 1;
}

@keyframes a {

    0%,
    16.667%,
    100% {
        opacity: 1;
    }

    33.333%,
    83.333% {
        opacity: 0;
    }
}

@keyframes a2 {

    0%,
    100% {
        opacity: 0;
    }

    33.333%,
    50% {
        opacity: 1;
    }

    16.667%,
    66.667% {
        opacity: 0;
    }
}

@keyframes a3 {
    0%,
    50%,
    100% {
        opacity: 0;
    }

    66.667%,
    83.333% {
        opacity: 1;
    }
}

.sky{
    position: absolute;
    top: -15%;
    left: 60.5%;
    width: auto;
    height: 70%;
}

.multi{
    rotate: 135deg;
    position: absolute;
    top: -10%;
    left: -15%;
    width: auto;
    height: 70%;
    overflow: hidden;
}

.lotus{
    position: absolute;
    top: 71.5%;
    left: 78.5%;
    width: auto;
    height: 25%;
}

/*------------------------------------ CAROUSEL ----------------------------------*/
.carousel{
    z-index: 9;
    position: sticky;
}

.carousel-caption h5{
    color: rgb(185, 102, 102);
}

.carousel-caption p{
    color: rgb(44, 96, 165);
    font-weight: bold;
}

.banner2{
    position: absolute;
    overflow-x: hidden;
}
/*-------------------------------------- CARD ------------------------------------*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    background-color: #18212b;
    min-height: 100vh;
    padding-right: 10%;
}

.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 400px 400px 400px;
    border-bottom: 25%;
    column-gap: 10%;
    row-gap: 55%;
}

.card{
    position: relative;
    width: 350px;
    height: 190px;
    background-color: #343a40;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

    .card:hover{
        height: 450px;
    }

.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: rgb(92, 84, 84);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imgBx{
    width: 250px;
    height: 250px;
}

.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details{
    transform: translateY(0px);
}

.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(185, 102, 102);
    line-height:1.2em
}

.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3{
    font-size: 1em;
    color: rgb(255, 255, 255);
    line-height: 1.2em;
    font-weight: 600;
}

.card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}

.card .content .details .actionBtn{
    display: flex;
    justify-content: space-between;
    /*gap: 20px;*/
}

.card .content .details .actionBtn button{
    padding:10px 26.5px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2){
    border:1px solid #ff5f95;
    color: #fff;
    background: #ff5f95;
}

/*------------------------------------- SOCIAL -----------------------------------*/
section{
    background-color: #151414fa;
}

.social{
    display: flex;
    margin-left: 31.7%;
    }

    .social a{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  #b93a99;
        border-radius: 50%;
        margin: 790px 25px 55px;
        color: white;
        text-decoration: none;
        font-size: 40px;
        transition: all .3s;
    }
        
        .social a:hover{
        transform: scale(1.3);
        }

    /*---------------------------------- FOOTER ----------------------------------*/
footer{
    background-color: #343a40;
}

.cardf{
    background-color: #343a40;
    font-style: bold;
    color: rgb(211, 211, 211);
}

.card-body .btn{
    border: 2px solid transparent;
    background-color:#0662db;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 27px;
	font-weight: bold;
    transition: .35s; 
	color: white;
}
.card-body .btn:hover{
	background-color: transparent;
	border: 2px solid #0662db;
	cursor: pointer;
}

.copyright{
    color: #8fa3b0;
    text-align: end;
    margin-right: 0.3%;
}

.links{
    text-align: end;
    margin-right: 0.1%;
}

.links a{
    text-decoration: underline;
    color: #8fa3b0;
    margin: 0px 5px;
}